@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap'");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

.cco_templateless_template {
  overflow: hidden;
  margin-top: -30px;
}

.chabad_header {
  background-image: url("https://w2.chabad.org/media/images/1329/jEpV13291460.png");
  height: auto;
}

.chabad-header-inner img {
  width: 650px;
  height: auto;

  @media (max-device-width: 650px) {
    width: 100%;
  }
}

.cco_templateless_page .chabad_header {
  padding: 50px 0;
}

.div#chabad_head .chabad_navigator_bar {
  margin: 10px auto;
}

.cco_templateless_page #chabad_main_content {
  background-image: inherit;
}

div#chabad_head .chabad_navigator_bar {
  background-color: inherit;
}

#navigation li.parent a.parent {
  background-color: inherit;
  color: #5a2d2d;
  border-bottom: 2px solid #ff9d00;
  margin-right: 5px;

  @media (max-width: 650px) {
    width: 100%;
    border-bottom: 0px;
  }
}

div#chabad_head .chabad_navigator_bar ul li {
  background-color: inherit;
}

div#chabad_head .chabad_navigator_bar ul li a {
  color: white;
  padding: 0px 24px;
}

.ct-header .ct-nav .ct-nav-inner .chabad_menu_content .navi .item.parent {
  font-size: 0;
}

div#chabad_head .chabad_navigator_bar ul li a {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
  border-right: inherit;
}

#navigation li.parent.selected a.parent {
  color: #000;
  font-weight: 700;
  background-color: #e8d2ae;
}

.text-container {
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.actions-container .action a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 28px;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    cursor: pointer;
  }

  img {
    width: 140px;
    height: auto;
  }
}

body.mobile #chabad_head .chabad_content_head,
body.mobile #chabad_head > .chabad_header {
  display: block;
}

body.cco_templateless_page.mobile #navigation.chabad_navigator_bar #menu {
  margin-top: inherit;
}

.appeal-container {
  background-image: url(https://chabadofislip.com/media/images/1329/uPFI13291498.png);
  padding: 50px 10px 120px;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.appeal-button-container a {
  background: #d0df8c;
  color: black;
  padding: 15px 20px;
  font-size: 16px;
  text-decoration: none;

  &:hover {
    background: #ece3c7;
    transition: 0.3s;
  }
}

.appeal-header {
  font-size: 25px;
  font-weight: 700;
}

.appeal-text {
  max-width: 950px;
  text-align: center;
}

div#content_page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.form-submit-button {
  background: #b6427c !important;
  color: white !important;
  border: 0px !important;
  padding: 15px 35px !important;
  font-size: 20px !important;
  box-shadow: none !important;
  text-shadow: none;

  &:hover {
    transition: all 500ms;
    opacity: 0.8;
  }
}

img.form-image {
  width: 70% !important;
}

.clearfix.bh.mobile-only.align_right {
  top: 0 !important;
}
