@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap'");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

:root {
  --header-bg: url("https://w2.chabad.org/media/images/1329/jEpV13291460.png");
  --appeal-bg: url("https://w2.chabad.org/media/images/1329/uPFI13291498.png");
  --primary-font: "Montserrat", Arial, sans-serif;
  --primary-color: #e274ad;
  --primary-color-hover: #d6609d;
  --submit-color: #b6427c;
  --appeal-bg-color: #e274ad;
  --appeal-button-bg: #d0df8c;
  --appeal-button-hover: #ece3c7;
  --appeal-button-text: #000;
}

.cco_templateless_template {
  margin-top: -30px;
}

.cco_templateless_template a {
  position: absolute;
  top: 31px;
  background: transparent;
  color: black;
}

.chabad_header {
  background-image: var(--header-bg);
  height: auto;
}

.chabad-header-inner img {
  width: 650px;
  height: auto;

  @media (max-device-width: 650px) {
    width: 100%;
  }
}

.cco_templateless_page .chabad_header {
  padding: 30px 0;
}

.div#chabad_head .chabad_navigator_bar {
  margin: 10px auto;
}

.cco_templateless_page #chabad_main_content {
  background-image: inherit;
}

body.mobile .chabad_navigator_bar #menu .item.heading,
body.mobile #navigation.chabad_navigator_bar #menu li:not(.heading),
div#chabad_head .chabad_navigator_bar {
  background-color: var(--primary-color);
}

body.mobile #navigation.chabad_navigator_bar #menu li .sub_menu_toggle {
  top: 0;
  right: 0;
  height: 45px;
}

#navigation li.parent a.parent {
  background-color: inherit;
  color: #fff;
  margin-right: 5px;

  &:hover {
    background-color: var(--primary-color-hover);
    color: white;
  }

  @media (max-width: 650px) {
    width: 100%;
    border-bottom: 0px;
  }
}

div#chabad_head .chabad_navigator_bar ul li {
  font-size: 0;
  background-color: inherit;
}

div#chabad_head .chabad_navigator_bar ul li a {
  color: white;
  padding: 0px 20px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  border-right: inherit;
}

.ct-header .ct-nav .ct-nav-inner .chabad_menu_content .navi .item.parent {
  font-size: 0;
}

#navigation li.parent.selected a.parent {
  font-weight: 600;
  background-color: var(--primary-color-hover);
  color: #fff;
}

.text-container {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 22px;
  line-height: 38px;

  p {
    font-family: var(--primary-font) !important;
  }
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.actions-container .action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 28px;
  width: 250px;
  font-family: var(--primary-font);
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;

  div {
    font-family: var(--primary-font);
  }

  a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s;
    cursor: pointer;
  }

  img {
    width: 140px;
    height: auto;
  }
}

body.mobile #chabad_head .chabad_content_head,
body.mobile #chabad_head > .chabad_header {
  display: block;
}

body.cco_templateless_page.mobile #navigation.chabad_navigator_bar #menu {
  margin-top: inherit;
}

body:not(.mobile) #navigation.chabad_navigator_bar #menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
}

body:not(.mobile) div#chabad_head .chabad_navigator_bar {
  height: auto;
}

.appeal-container {
  background-image: var(--appeal-bg);
  background-color: var(--appeal-bg-color);
  padding: 50px 0px;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 17px;

  @media screen and (max-width: 650px) {
    min-height: 400px;
  }
}

.appeal-button-container a {
  background: var(--appeal-button-bg);
  color: var(--appeal-button-text);
  padding: 15px 20px;
  font-size: 16px;
  text-decoration: none;
  font-family: var(--primary-font);

  &:hover {
    background: var(--appeal-button-hover);
    transition: 0.3s;
  }
}

.appeal-header {
  font-size: 25px;
  font-weight: 600;
  padding: 0px 10px;
  text-align: center;
  font-family: var(--primary-font);
}

.appeal-text {
  max-width: 950px;
  text-align: center;
  padding: 0px 10px;
  font-family: var(--primary-font);
}

div#content_page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.form-submit-button {
  background: var(--submit-color) !important;
  color: white !important;
  border: 0px !important;
  padding: 15px 35px !important;
  font-size: 20px !important;
  box-shadow: none !important;
  text-shadow: none;

  &:hover {
    transition: all 500ms;
    opacity: 0.8;
  }
}

img.form-image {
  width: 70% !important;
}

.clearfix.bh.mobile-only.align_right {
  top: 0 !important;
}

.campaign-progress {
  padding: 1.5rem;
  width: 760px;
  text-align: center;
}

@media (max-width: 768px) {
  .campaign-progress {
    width: 100%;
  }
}

.campaign-progress h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.progress-bar-container {
  width: 100%;
  background-color: #e5e7eb;
  border: 2px solid #d0de8d;
  border-radius: 50rem;
}

.progress-bar {
  background-color: #b53a78;
  height: 1.7rem;
  width: 0%;
  transition: width 0.6s ease;
  border-radius: 50rem;
}

.progress-bar .percent {
  color: white;
  font-size: 13px;
  float: right;
  margin-right: 5px;
}

#latest-donors-wrapper {
  position: relative;
  width: 100%;
}

#latest-donors {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  margin: 0 auto;
}

.donor-wrap {
  flex: 0 0 auto;
  width: 200px;
  scroll-snap-align: center;
  height: auto;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.3s ease;
  text-align: center;
  background: #eee8d5;
  color: black;
  font-size: 15px;
}

.donor-wrap:hover {
  transform: scale(1.03);
}

.donor-wrap:first-child {
  margin-left: 100px;
}

.donor-wrap:last-child {
  margin-right: 100px;
}

#latest-donors-wrapper::before,
#latest-donors-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px;
  pointer-events: none;
  z-index: 1;
}

#latest-donors-wrapper::before {
  left: 0;
  background: linear-gradient(to right, #b83b77, transparent);

  @media (max-width: 650px) {
    background: none;
  }
}

#latest-donors-wrapper::after {
  right: 0;
  background: linear-gradient(to left, #b84e80, transparent);

  @media (max-width: 650px) {
    background: none;
  }
}

#latest-donors-wrapper.no-scroll #latest-donors {
  justify-content: center;
}

.donor-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: var(--primary-font);
}

.donor-inner .donor {
  font-style: italic;
}

.donor-inner .donor,
.donor-inner .amount {
  margin-bottom: 7px;
  font-weight: bold;
}

.dedication-text {
  font-family: var(--primary-font);
}

.donors-title {
  margin-bottom: 1rem;
  font-size: 20px;
  border-bottom: 1px solid;
  width: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  font-family: var(--primary-font);
  font-weight: 600;
}

div#chabad_head .chabad_navigator_bar ul li .sub_menu .item {
  background-color: var(--primary-color);
  transition: all 0.5s;

  &:hover {
    background-color: var(--primary-color-hover);
  }
}

div#chabad_head #navigation li.parent a.parent:hover + .sub_menu_toggle {
  background-color: var(--primary-color-hover);
}

div#chabad_head .chabad_navigator_bar ul li .sub_menu .item a {
  color: white;
}
