body:not(.cco_templateless_page) div#co_body_container {
  padding: 50px 0;
}

body:not(.cco_templateless_page) .body_wrapper.clearfix.co_body {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  body:not(.cco_templateless_page) .body_wrapper.clearfix.co_body {
    width: 100%;
    flex-direction: column;
  }
}

body:not(.cco_templateless_page)
  h1.article-header__title.js-article-title.js-page-title {
  color: white;
  font-family: var(--secondary-font);
}

header.article-header.cf {
  border: 0;
}

.master-content-wrapper.g960 {
  background: var(--primary-color);
  color: white;
  width: 100%;
  margin: 0;
  padding: 27px 180px;
}

@media screen and (max-width: 650px) {
  .master-content-wrapper.g960 {
    display: inline-flex;
    padding: 20px 10px;
  }
}

div#co_content_container {
  padding: 0;
}

body:not(.home) #BodyContainer,
body:not(.home) > #content > .wrapper {
  width: 100%;
}

.co_body h3,
.co_body h3 a,
.breadcrumbs__crumb,
.article-header__subtitle {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.breadcrumbs {
  margin-bottom: 10px;
  font-family: var(--secondary-font);
}

body:not(.home).mobile div#header {
  background: var(--primary-color);
}

.co_dialog .header_text,
.mobile .center_logo a span,
.menu_items > div.item .parent_item {
  font-family: var(--secondary-font);
}

.co_body .content .grey a,
.grey,
.grey a,
.co_dialog .co_dialog_content,
.menu_items .item .sub_items > div.sub_item,
.blue,
.blue a,
.co_body .content .blue a,
ul.small_links li,
.co_form_input.active,
.co_form_textarea.active,
.co_index .item .subtitle,
.co_index .item .subtitle a,
.co_index .synopsis,
.co_body .light_grey a,
.light_grey,
.light_grey a,
.co_global_input,
.co_body .small_header,
.co_content_container .small_header,
.co_index .item .title,
.co_index .item .title a,
.co_local_menu,
.co_local_menu .item .item_sub a,
.co_local_menu .item a,
.co_local_menu .section_title a,
.content_title,
.content_title_container .content_title,
.content_title_container h1,
.secondary_navigation .header,
.secondary_navigation .item.selected a,
.small_links .more a,
.co_local_menu .section_title div,
.co_local_menu .section_title h1,
.form-address-table td,
.form-address-table th,
#total_amount,
.form-label-auto label,
.form-label-left label,
.form-label-right label,
.form-label-top label,
.form-sub-label,
.form-checkbox-item LABEL,
.form-grading-label,
.form-radio-item LABEL,
.form-captcha INPUT,
.form-checkbox-other-input,
.form-radio-other-input,
.form-textarea,
.form-textbox,
.co_body .content p,
.co_body .content p span,
.footer_inner_container,
.co_body .content .form-all .form-html li,
.footer_inner_container .footer3,
.footer_inner_container a {
  font-family: var(--primary-font) !important;
}

.co_body .content .form-all .form-html b,
.co_body .content .form-all .form-html li b {
  font-weight: 600;
}

#CoButton,
.form-submit-print,
.form-submit-reset,
.form-submit-button {
  transition: background 0.4s;
  letter-spacing: 2px;
  padding: 12px 30px;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.cco_body .co_global_button .button {
  transition: background 0.4s;
  letter-spacing: 2px;
  padding: 12px 10px;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.cco_body .co_global_button .button,
.form-submit-print,
.form-submit-reset {
  text-decoration: none;
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.cco_body .co_global_button .button:hover,
.form-submit-print:hover,
.form-submit-reset:hover {
  color: #fff;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

#CoButton,
.form-submit-button {
  color: #fff;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

#CoButton:hover,
.form-submit-button:hover {
  color: var(--primary-color);
  background: transparent;
  border: 2px solid var(--primary-color);
}

#CoButton:active,
.cco_body .co_global_button .button:active,
.form-submit-reset:active,
.form-submit-print:active,
.form-submit-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body:not(.home) #co_ads_container form.subscribe_box {
  display: none;
}
